[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mlapi"]
	path = mlapi
	url = https://github.com/cran/mlapi
[submodule "sparsepp"]
	path = sparsepp
	url = https://github.com/dselivanov/r-sparsepp
[submodule "text2vec"]
	path = text2vec
	url = https://github.com/dselivanov/text2vec
